
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="jquery-ui.structure.min.css">
    <link rel="stylesheet" type="text/css" href="jquery-ui.theme.min.css">
    <title>Hello, world!</title>
  </head>
  <body>


   
    <div class="row" style="padding:20px;">

        <h1> Results </h1>
       
    
            <h4>
            
           
            <% business.forEach((elt)=>{%>
                  <li>Name: <%=elt.name%> -Distance: <%=elt.distance%>Km - Room Type: <%=elt.roomType%> - Price: <%=elt.price%>Euro</li> 
                    <br>
            <%});%>
        
            
            </h4>
    
    
    
    
        <!-- {{/each}} -->
    
    
    </div><!-- close row -->
  
   </body>
</html>



